{% extends 'shop/basic.html' %}

{% block title %} About Us {% endblock%}


{% block body %} 

<main role="main">

    
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">AG_Cart !</h1>
        <h3>AG_Cart is an Indian e-commerce company based in Bangalore, Karnataka, India. It was founded by<b> Anubhav Tandon</b> and <b>Gaurav Sharma</b> in 2021. The company initially focused on book sales, before expanding into other product categories such as consumer electronics, fashion, home essentials & groceries, and lifestyle products.</h3>

        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
  
    <div class="container">
      
      <div class="row">
        <div class="col-md-4">
          <h2>Working At AG_Cart</h2>
        <p>If you're an inventor, you love to build and be part of high performance teams who are passionate about operational excellence—you’ll love it here. From day one at AG_Cart, you'll take ownership of projects that have a direct impact on our customers.</p>

          
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Oppurtunities</h2>
          <p>
            From selling globally to locally, from making money on your site to expanding your business, AG_Cart has a lot of opportuntiies for you to explore. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Building The Future</h2>
          <p>We strive to have a positive impact on customers, employees, small businesses, the economy, and communities. AG_Cartians are smart, passionate builders with different backgrounds and goals, who share a common desire to always be learning and inventing on behalf of our customers.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
  
      <hr>
  
    </div> 
  
  </main>
  











{% endblock%}